body{ 
     margin:0px;
     padding:0px;
     font-family: cursive;
     background: url(work.jpg);
     background-size:"cover";
     background-position: center;

}
.loginbox{
     width: 500px;
     height: 600px;
     background: #000;
     color:red;
     top: 70%;
     left: 50%;
     position: absolute;
     transform: translate(-50%, -50%);
     box-sizing: border-box;
}

.candles{
	width: 300px;
	height: 300px;
	border-radius: 100%;
	position: absolute;
	top: -57%;
	left: calc(50% -100px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 27px; 
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 50%;
	margin-bottom: 30px;

}

.loginbox input [type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 50px;
	color:#fff;
	font-size: 26px;
}

.loginbox input[type="submit"]
{
	border:none;
    outline: none;
    height:70px;
    background: #fb2525;
    color:#fff;
    font-size: 27px;
    border-radius: 20px;
}


.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background:#ffc107;
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 22px;
	line-height: 40px;
	color: darkgrey;
}

.loginbox a:hover
{
	color: #ffc107;
}